<config>
  <input>
    <csvs>
      <csv1>PIB.csv</csv2>
      <csv2>population.csv</csv3>
      <csv3>babies_per_woman.csv</csv4>
      <csv4>murdered_women.csv</csv4>
    </csvs>
    <sep>,</sep>
  </input>
  <countries>
    <count1>Belgium</count1>
    <count2>Nigeria</count2>
    <count3>Ireland</count3>
    <count4>Australia</count4>
  </countries>
  <years>
    <start>1970</start>
    <end>2018</end>
  </years>
  <target>murdered_women</target>
  <to_predict>
    <country>Australia</country>
    <year>2005</yeart>
  </to_predict>
</config>