<config>
  <input>
    <csvs>PIB.csv,population.csv,babies_per_woman.csv,murdered_women.csv</csvs>
    <sep>,</sep>
  </input>
  <countries>Belgium,Nigeria,Ireland,Australia</countries>
  <target>murdered_women</target>
  <to_predict>
    <country>Australia</country>
    <year>2005</year>
  </to_predict>
</config>